Repository carlosjgp/mise-aws-sso-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, stylua, actionlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: luacheck
        name: luacheck
        entry: bash -c 'luarocks install luacheck --local 2>/dev/null || true; ~/.luarocks/bin/luacheck "$@"' --
        language: system
        files: '\.lua$'
        pass_filenames: true

      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: '\.lua$'
        pass_filenames: true

      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: '^\.github/workflows/.*\.(yml|yaml)$'
        pass_filenames: true

fix: ci checks
  mise-tasks/test
Due: none

fix: ci checks (#1)
  .github/workflows/release.yml
  .pre-commit-config.yaml
  hooks/available.lua
  mise-tasks/test
Due: luacheck, stylua, actionlint

fix: semantic-release
  .github/workflows/release.yml
  .gitignore
  .releaserc.yaml
Due: actionlint

fix: semantic-release (#2)
  .github/workflows/release.yml
  .gitignore
  .releaserc.yaml
Due: actionlint

fix: semantic-release
  .github/workflows/ci.yml
Due: actionlint

fix: semantic-release
  .pre-commit-config.yaml
Due: none

fix: semantic release (#3)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: actionlint

fix: semantic-release
  .github/workflows/release.yml
Due: actionlint

fix: semantic-release (#4)
  .github/workflows/release.yml
Due: actionlint

Notes added by 'git notes add'
  a873febe0ae3f260359e27b9642b619a692da2b2
Due: none
